<%# Generates h1, or bounces if none is given %>
<% if (title) { %>
    <h1 class="login--title"><%- title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
    </ul>
<% } %>

<h2>Update Info</h2>
<form action="/account/update-info" method="post" class="account-form">
    <label for="account_firstname">First Name</label>
    <input type="text" name="account_firstname" id="account_firstname" value="<%= locals.accountData.account_firstname %>" required>
    <label for="account_lastname">last Name</label>
    <input type="text" name="account_lastname" id="account_lastname" value="<%= locals.accountData.account_lastname %>" required>
    <label for="account_email">Email</label>
    <input type="text" name="account_email" id="account_email" value="<%= locals.accountData.account_email %>" required>
    <input type="hidden" name="account_id" <% if(locals.accountData.account_id) { %> value="<%= locals.accountData.account_id %>" <% } %>>
    <input type="submit" value="Add Inventory">
</form>

<h2>Change Password</h2>
<form action="/account/change-password" method="post" class="register-form">
    <label for="account_password">New Password</label>
    <div class="register-form--password-wrapper">
        <input type="password" name="account_password" id="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <button type="button" id="showPasswordBtn">
            <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
            <svg class="show" fill="#000000" version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 256 256" xml:space="preserve">
                <path id="XMLID_28_" d="M244.7,101.5C218.1,66,175.8,42.9,128,42.9S37.9,66,11.3,101.5c-4.9,6.9-8,15.3-8,24.5s3.1,17.6,8,24.3
                    C37.9,185.9,80.2,209,128,209s90.1-23.1,116.7-58.7c4.9-6.9,8-15.3,8-24.5S249.6,108.5,244.7,101.5z M227.5,138.7
                    c-23.7,31.3-60.3,49.7-99.5,49.7c-39.4,0-75.8-18.4-99.5-49.7c-2.7-3.7-4.3-8.2-4.3-12.7c0-4.3,1.6-9,4.3-12.7
                    C52.2,82.1,88.6,63.7,128,63.7c39.2,0,75.8,18.4,99.5,49.7c1.8,2.5,4.3,7.2,4.3,12.7S229.4,136.1,227.5,138.7z M128,79.2
                    c-25.8,0-46.8,20.8-46.8,46.8s21.1,46.8,46.8,46.8s46.8-21.1,46.8-46.8S153.8,79.2,128,79.2z M144.6,119.9
                    c-5.7,0-10.4-4.7-10.4-10.4c0-5.7,4.7-10.4,10.4-10.4c5.7,0,10.4,4.7,10.4,10.4C155,115.2,150.3,119.9,144.6,119.9z"/>
            </svg>
            <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
            <svg class="hide" style="display: none" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 10C2 10 5.5 14 12 14C18.5 14 22 10 22 10" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4 11.6445L2 14" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22 14L20.0039 11.6484" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.91406 13.6797L8 16.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.0625 13.6875L16 16.5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
    </div>
    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
    <input type="hidden" name="account_id" <% if(locals.accountData.account_id) { %> value="<%= locals.accountData.account_id %>" <% } %>>
    <input type="submit" value="Change Password">
</form>

<script>
    const passwordField = document.getElementById("account_password");
    const showPasswordBtn = document.getElementById("showPasswordBtn");
    showPasswordBtn.addEventListener("click", () => {
        const fieldType = passwordField.getAttribute("type");

        if (fieldType == "password") {
            passwordField.setAttribute("type", "text");
            showPasswordBtn.querySelector(".show").style.display = "none";
            showPasswordBtn.querySelector(".hide").style.display = "block";
        } else {
            passwordField.setAttribute("type", "password");
            showPasswordBtn.querySelector(".show").style.display = "block";
            showPasswordBtn.querySelector(".hide").style.display = "none";
        }
    })
</script>