<%# Generates h1, or bounces if none is given %>
<% if (title) { %>
    <h1 class="login--title"><%- title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
    </ul>
<% } %>

<h2>Delete Review</h2>
<form action="/review/delete" method="post" class="review-form delete">
    <label for="displayname">Display Name</label>
    <input type="text" name="displayname" id="displayname" value="<%= locals.accountData.account_firstname[0] + locals.accountData.account_lastname %>" readonly required>
    <label for="review_text">Review Text</label>
    <input type="text" name="review_text" id="review_text" value="<%= review_text %>" required>
    <input type="hidden" name="review_id" value="<%= review_id %>">
    <input type="submit" value="Delete Review">
</form>